body {
    background-color: #b3e7ff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-image: url(LEAVES_BACKGROUND.jpg);
}

h1 {
    width: 50%;
    text-align: left;
    font-size: 30px;
    color: black;
    text-decoration: underline;
    font-weight: 900;
}

label[for=date], [for=feels], [for=content]{
    font-size: 15px;
    text-decoration: underline;
    font-weight: bold;
}

input[type=date] {
    width: 25%;
}

textarea[id=feels], [id=diary-content] {
    width: 40%;
    height: 50px;
    padding: 12px 20px;
}

input[type=submit] {
    width: 20%;
    height: 50px;
    color: white;
    font-size: 20px;
    background-color: #006644;
    border: 2px colid;
}

h2 {
    text-align: left;
    text-decoration: underline;
}

p[id=output] {
    text-align: left;
    text-decoration: underline;
    font-weight: bold;
}